<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>system_setup批量部署</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" href="ico/favicon.ico">
        <link rel="apple-touch-icon" href="ico/apple-touch-icon.png">
        <link rel="stylesheet" href="css/normalize.css">
       <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
       <!--<link rel="stylesheet" href="bootstrap-3.3.7/dist/css/bootstrap.css">-->
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/Splash.css">
        <script src="//cdn.bootcss.com/modernizr/2.8.3/modernizr.min.js"></script>
		<script src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>
		<script src="js/Vue_template.js"></script>
    </head>
    <body>
    	<header id="head">
			<app-header></app-header>
			<app-nav :links="links" :ht="ht" @emit-login="exit_login"></app-nav>
    	</header>
    	<main id="main">
    		<section class="container-fluid">
  				<!--   选择页面      -->
  				<span class="label label-default">Select Store</span>
    			<div class="row jumbotron">
    				<div class="col-md-12">
    					<form class="form-group">
    						<label for="select-name" class="label label-default">选择门店:(以下门店都是有域名和sa密码，手机查看请开横屏)</label>
    						<select class="form-control focus" multiple v-model="storeid">
								<option v-for="item in clients" :value="item.id">{{item.client_name}}</option>
    						</select>
    					</form>
    					
    				</div>
    				<div class="col-md-12">
						<label class="label label-default">已选择以下门店</label>
						<hr/>
						<ul class="list-group">
							<li  v-for="i in storenames" class="list-group-item">{{i.name}}<span class="badge pull-right"><span></span>{{i.status}}</span></li>
						</ul>
						<button class="btn btn-default btn-block" @click="get_batch_info">获取数据</button>
    				</div>
    			</div>
    			<!--   参数展示页面          -->
    			<span class="label label-default">Argument</span>
    			<div class="row jumbotron">
    				<div class="col-md-12" style="padding: 2em 0">
    					<div class="col-md-6">
    						<label class="label label-default" for="seach-main">类别查找：</label>
    						<form class="form-group">    							
    							<select class="form-control" v-model="argument_key">
									<option value="all">全部</option>
    								<option v-for="i in sys_main" :value="i">{{i}}</option>
    							</select>    							
    						</form>
    					</div>
    					<div  class="col-md-6">
    						<label class="label label-default" for="seach-item">模糊搜索：{{sys_keyword}}</label>
    						<form class="form-group">    						
    						<input type="text" class="form-control" v-model="sys_keyword">
    						</form>
    						<button type="button" class="btn btn-default btn-block" id="seach-itemin">search</button>
    					</div>
    				</div>
    				<div class="col-md-12">
    					<table class="table table-bordered">
    						<thead>
    							<tr id="argument-thead">
    								<th>main</th><th>Sub(点击修改)</th><th v-for="i in namelist">{{i}}</th>
    							</tr>
    						</thead>
    						<tbody id="argument-tbody">
    							<tr v-for="i in arguments"><td>{{i.main}}</td><td @click="show_modal">{{i.sub}}</td><td v-for="j in i.val">{{j}}</td></tr>
    						</tbody>
    					</table>
    				</div>
    			</div>
    		</section>
    	
		
    
    	<!-- regrster modal  -->
    	<div role="dialog" aria-hidden="true" class="modal" id="modal2" data-backdrop="static">
    		<div class="modal-dialog">
    			<div class="modal-content">
    				<div class="modal-header">
    					<button data-dismiss="modal" class="close">&times;</button>
    					<h4>统一参数配置</h4>
    				</div>
    				<div class="modal-body">
    					<form class="form-group">
    						<label for="argument-name">Argument</label><h5 id="argument-name-label">{{argument_main}}/{{argument_sub}}</h5>
    						<input class="form-control" v-model="argument_val" required :placeholder="argument_main" name="argument-name-label">
    					</form>
    					<div id="show-set-success">
							<label v-for="i in shows" v-if="i.status == 1" class="label label-success center-block">{{i.name}}:{{i.info}}</label>
							<label v-for="i in shows" v-else class="label label-error center-block">{{i.name}}:{{i.info}}</label>
    					</div>
    				</div>
    				<div class="modal-footer">
    					<button class="btn btn-default" data-dismiss="modal">close</button>
    					<button class="btn btn-default" @click="post_argument_modify">配置</button>
    				</div>
    			</div>
    		</div>
		</div>
		
	</main>
     
   <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
        <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/argumentdeploy.js"></script>
        <script src="js/check-login.js"></script>
         
    </body>
</html>

