<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>后台</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" href="ico/favicon.ico">
        <link rel="apple-touch-icon" href="ico/apple-touch-icon.png">
        <link rel="stylesheet" href="css/normalize.css">
        <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/main.css">
        <script src="//cdn.bootcss.com/modernizr/2.8.3/modernizr.min.js"></script>
		<script src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>
		<script src="js/Vue_template.js"></script>
    </head>
    <body>
    <header id="head">
		<app-header></app-header>
		<app-nav :links="links" :ht="ht" @emit-login="exit_login"></app-nav>		
    </header>
	
	
    <main class="container" id="main">
    	<div class="row">
				<!-- Modal -->
			<app-modal :ids="modal.ids" :title="modal.title" :btntext="modal.btntext" @modal="modify_quest">			
				<form class="form-group">
					<label for="valname">{{modify.pre}}</label>
					<input v-if="modal_body" type="text" :placeholder="modify.val" required class="form-control" v-model="modify.val">
					<select v-else class="form-control" v-model="modify.val">
						<option v-for="i in optionlist" :value="i">{{i}}</option>
					</select>
				</form>
			</app-modal>

    		<section class=" col-md-12">
    			<span class="label label-default">查询客户信息</span>
    			<article class="jumbotron">
    				<form class="form-inline">
						<div class="form-group">
							<label for="se-territory">模糊搜索:{{keyword}}</label>
							<input type="text" class="form-control" id="se-territory" v-model="keyword">
						</div>
						<div class="form-group pull-right">							
							<label for="select-name">选择门店:{{storename}}</label>						
    						<select class="form-control" id="select-name" v-model="storeid">
    							<option v-for="i in clients" :value="i.id">{{i.client_name}}</option>
							</select>
							
						</div>
					</form>
					<hr/>
    				<button type="button" :class="class_btn" @click="get_storeinfo">查询</button>
    				<hr/>
    				<table class="table table-hover"><!-- id="store-info"> -->
							<tr v-if="item !== 'id'" v-for="(i,item) in storeinfo"><td>{{item}}</td><td @click="modify_value">{{i}}</td></tr>
    				</table>
    				<hr/>
    				<div class="btn-group pull-right">
					<a class="btn btn-default" href="#add-store">添加新门店</a>
					<button class="btn btn-default" id="delete-store">delete-store</button>
					</div>
				</article>    			
    		</section>
    		
    	
    		
    		<section class=" col-md-12" id="add-store">
    			<span class="label label-default">add-store</span>
    			<article class="jumbotron">
    				<button class="btn btn-default btn-success btn-block collapsed" id="addstore"  data-toggle="collapse" data-target="#input-store-info">添加门店<span class="caret"></span></button>
    				<div class="collapse" id="input-store-info">
    					<form class="form-group" name="storeinfo" id="storeinfo">
    						<label for="client_name">名称:</label>
    						<input type="text" id="client_name" name="client_name" class="form-control">
    						<label for="territory">地域:</label>
    						<select class="form-control" name="territory">
									<option v-for="i in territorys" :value="i" >{{i}}</option>
    						</select>
    						<label for="server_name">服务器：</label>
    						<input type="text" class="form-control" value="server" id="server_name" name="server_name">
    						<label for="server_pw">服务器密码:</label>
    						<input type="text" id="server_pw" name="server_pw" class="form-control">
    						<label for="Sql_version">数据库版本:</label>
    						<select id="Sql_version" name="Sql_version" class="form-control">
    							<option v-for="i in sqlversion" :value="i">{{i}}</option>
    						</select>
    						<label for="sa_user">数据库用户：</label>
    						<input type="text" class="form-control" id="sa_user" name="sa_user" value="sa">
    						<label for="sa_pw">数据库密码：</label>
    						<input type="text" id="sa_pw" name="sa_pw" class="form-control">
    						<label for="server_ip">IP:</label>
    						<input type="text" id="server_ip" name="server_ip" class="form-control" value="192.168.">
    						<label for="tel_name">联系人：</label>
    						<input type="text" id="tel_name" name="tel_name" class="form-control">
    						<label for="tel	">联系电话:</label>
    						<input type="tel" id="tel" name="tel" class="form-control">
    						<label for="wifi_pw">wifi:</label>
    						<input type="text" id="wifi_pw" name="wifi_pw" class="form-control">
    						<label for="rout_user">路由账户：</label>
    						<input type="text" id="rout_user" name="rout_user" class="form-control" value="admin">
    						<label for="rout_pw">路由密码：</label>
    						<input type="text" id="rout_pw" name="rout_pw" class="form-control">
    						<label for="microcloudID">微云ID:</label>
    						<input class="form-control" type="text" id="microcloudID" name="microcloudID">
    						<label for="meg_id">msid:</label>
    						<input type="number" id="meg_id" name="meg_id" class="form-control">
    						<label for="meg_name">msname:</label>
    						<input type="text" id="meg_name" name="meg_name" class="form-control">
    						<label for="meg_pw">ms-passwd:</label>
    						<input type="text" id="meg_pw" name="meg_pw" class="form-control">
    						<label for="meg_yz">ms-验证码:</label>
    						<input type="number" id="meg_yz" name="meg_yz" class="form-control" value="1212">
    						<label for="net_domain">域名:</label>
    						<input type="text" id="net_domain" name="net_domain" class="form-control">
    						<label for="net_name">域名user:</label>
    						<input type="text" id="net_name" name="net_name" class="form-control">
    						<label for="net_pw">域名passwd:</label>
    						<input type="text" id="net_pw" name="net_pw" class="form-control">
    						<label for="remark">备注:</label>
    						<input type="text" id="remark" name="remark" class="form-control">
    						
    					</form>
    					<button type="button" class="btn btn-default btn-success btn-block" @click="add_store_update">sumbit</button>
    				</div>
				</article>    			
    		</section>
    		     <div class="clearfix"></div>		
    		<section class=" col-md-6">
    			<span class="label label-default">添加云链接</span>
    			<article class="jumbotron">
    				<form class="form-group">
					<label class="control-label" for="d-ipname">链接名称：{{link_name}}</label>
					<input class="form-control" type="text" id="d-ipname" v-model="link_name" required>
					<label class="control-label" for="d-ipad">链接地址：{{link_srccm}}</label>
					<input class="form-control" type="text" id="d-ipadress" v-model="link_src">
				</form>
				<button class="btn btn-default btn-block btn-primary" @click="add_link">提交</button>				
				</article>    			
    		</section>
    		
    		<section class="col-md-6">
    			<span class="label label-default">添加本地链接</span>
    			<article class="jumbotron">
    				<form class="form-group" action="php/main-manage-upload.php" enctype="multipart/form-data" name="f1" method="post" target="_blank">
						<label class="control-label" for="filename">文件描述：</label>
						<input class="form-control" type="text" id="filename" >
						<label class="control-label" for="fileadress">上传文件：</label>
						<input  type="file" id="fileadress[]" name="fileadress[]" class="form-control" multiple>
						<button type="submit" class="btn btn-default btn-block btn-primary" id="file" style="margin-top: .5em">提交</button>
					</form>
					
				</article>    			
    		</section>
			
    		<div class="clearfix"></div>		
    		<section class=" col-md-12">
    			<span class="label label-default">注册软件锁</span>
    			<article class="jumbotron">
    				<form class="form-group">
					<label class="control-label">软件锁序列号：{{reg_key}}</label>
					<input class="form-control" type="text" v-model="reg_key" required>
					<label class="control-label">注册至：{{getdate}}</label>
					<input class="form-control" type="text" v-model="reg_date">
					<label class="label label-default">{{key}}</label>
				</form>
				<button class="btn btn-default btn-block btn-primary" @click="reg_xxl">提交</button>				
				</article>    			
			</section>
			
    		<section class="col-md-12">
    			<span class="label label-default">查询日志</span>
    			<article class="jumbotron">    				
    				<input type="number" :value="log_num" v-model="log_num">
					<button class="btn btn-default  btn-primary" @click="get_log">查询</button>
					<button class="btn btn-default" @click="del_log">清空</button>
					<h4>log</h4>
    				<table class="table" id="loginfo">
						<tr v-for="item in logs"><th>{{item.id}}</th><td>{{item.incident}}</td><td>{{item.operate}}</td><td>{{item.tims}}</td></tr>
    				</table>
				</article>    			
    		</section>   		
		</div>
	</main>
   <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
        <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main-manage.js"></script>
         
    </body>
</html>
